<div class="container mt-4">
  <section class="my-4">
    <h2 class="display-4">クズ男の体験談一覧</h2>
    <% @posts.each do |post| %>
      <%= render "shared/components/post_list_item", post: post %>
    <% end %>
    <%= paginate @posts %>
  </section>
</div>