 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-footer justify-content-center align-items-center">
          <li class="nav-item">
            <button target="_blank" href="https://twitter.com/" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
              <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
            </button>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">プライバシーポリシー</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">利用規約</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">クズ男データベースについて</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="copyright text-center">
          &copy; 2020 <a href="" target="_blank">クズ男データベース</a>
        </div>
      </div>
    </div>
  </div>
</footer>