 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-footer justify-content-center align-items-center">
          <li class="nav-item">
            <button target="_blank" href="https://twitter.com/" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
              <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
            </button>
          </li>
          <li class="nav-item">
            <%= link_to "プライバシーポリシー", privacy_policy_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "利用規約", terms_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "クズ男データベースについて", about_path, class: 'nav-link'%>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="copyright text-center">
          &copy; <%= Date.today.year %> <a href="" target="_blank">クズ男データベース</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Core -->
<script src="/argon/assets/js/core/jquery.min.js"></script>
<script src="/argon/assets/js/core/popper.min.js"></script>
<script src="/argon/assets/js/core/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

<!-- Argon JS -->
<script src="/argon/assets/js/argon-design-system.js"></script>