<div class="container">
  <section class="my-4">
    <div class="d-flex jusify-content-between mx-2 mb-2">
      <h2 class="display-4">運営者情報</h2>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">運営者</th>
          <td colspan="3">
            <a href="https://twitter.com/yuta_prog" target="_blank" rel="noopener">@yuta_prog</a>
          </td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td colspan="3">forest-services@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
