<p>クズ男データベースに登録されているメールアドレスが<%= @email %>に変更するリクエストが送信されました。</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスを<%= @resource.unconfirmed_email %>に変更しようとしています。</p>
<% else %>
  <p>メールアドレスが<%= @resource.email %>に変更されました。</p>
<% end %>
