<p><%= @resource.email %>のメールアドレスでパスワードリセットが申請されました。下記のリンクをクリックしてパスワードリセットすることができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワードリセットを実行していなければこのメッセージは無視してください。</p>
<p>パスワードはあなたが上記のリンクをクリックし、新しいパスワードを入力するまで変更されません。</p>
